:root {
  --colorBase01: rgb(0, 0, 0);
  --colorBase02: rgb(255, 255, 255);
  --colorBase03: rgb(102, 102, 102);
  --colorBase04: rgba(0, 0, 0, 0.5);
  --colorBase05: rgb(32, 148, 243); /*color01*/
  --colorBase06: rgb(190, 0, 29);   /*color02*/
  --colorBase07: rgb(252, 161, 32); /*color03*/
  --colorBase08: rgb(0, 255, 255);  /*color04*/
  --colorBase09: rgb(126, 126, 126);
  --colorBase10: rgb(80, 95, 121);
  --colorBase11: rgba(252, 161, 32, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--colorBase10);
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  color: inherit
}

#background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 600px){
  .side-nav{
      display:block;
  }
}