:root {
  --colorBase01: rgb(0, 0, 0);
  --colorBase02: rgb(255, 255, 255);
  --colorBase03: rgb(102, 102, 102);
  --colorBase04: rgba(0, 0, 0, 0.5);
  --colorBase05: rgb(32, 148, 243); /*color01*/
  --colorBase06: rgb(190, 0, 29);   /*color02*/
  --colorBase07: rgb(252, 161, 32); /*color03*/
  --colorBase08: rgb(0, 255, 255);  /*color04*/
  --colorBase09: rgb(235, 235, 235);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit
}
