.free {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.free > div {
  display: grid;
  gap: 1rem;
}

.free h1 {
  max-width: 30rem;
  color: var(--colorBase07);
  text-shadow: 0 0 3px var(--colorBase01), 0 0 5px var(--colorBase01);
}


.btn {
  text-align: center;
}

.paid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
  background-color: var(--colorBase07);
}

.paid div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem 0;
}

.paid h1 {
  color: var(--colorBase02);
  text-shadow: 0 0 3px var(--colorBase01), 0 0 5px var(--colorBase01);
  padding: 1rem;
}