.btn {
	height: 40px;
	width: 100%;
	max-width: 300px;
	color: var(--colorBase02);
	background-color: var(--colorBase07);
	border-radius: 5px;
	text-transform: uppercase;
	border: none;
	box-shadow: 0px 2px 2px var(--colorBase09);
	transition: transform 0.3s;
}

.btn:active {
	transform: scale(0.9);
}