.card {
    color: var(--colorBase02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin: 1rem;
    overflow: hidden;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card h2 {
    color: var(--colorBase07);
}

.card section {
    display: grid;
}

.link {
    display: flex;
    flex-direction: row;
}

.img {
    background-color: white;
    margin: 1rem;
    border-radius: 50%;
}

.map {
    border: 0;
    width: 100%;
    max-width: 20rem;
}

@media screen and (min-width: 500px){
    .map {
        width: 100%;
    }
}