.card {
    color: var(--colorBase02);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 1rem;
    overflow: hidden;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.link {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

.link div {
    display: grid;
    gap: 1rem;
}

.link h2 {
    color: var(--colorBase07);    
}

.img {
    background-color: white;
    /* border-radius: 50%; */
}

.map {
    border: 0;
    width: 100%;
}
