.footer {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--colorBase01);
    color: var(--colorBase02);
    padding: 0.5rem 0;
    font-size: small;
    margin-top: 1rem;
}