.form {
	position: relative;
	color: var(--colorBase07);
	text-align: center;
	display: grid;
	gap: 2rem;
	padding: 2rem 1rem;
}

.form_icon {
	width: 1rem;
	color: var(--colorBase07);
}

.form_input {
	color: var(--colorBase02);;
	border: none;
	border-bottom: 2px solid var(--colorBase02);
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.form_input:active,
.form_input:focus,
.form_input:hover {
	outline: none;
	border-bottom-color: var(--colorBase07);
}

.form_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--colorBase02);
	opacity: 1; /* Firefox */
}
  
.form_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--colorBase02);
}
  
.form_input::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--colorBase02);
}

.links {
	display: flex;
	justify-content: space-around;
}

.btn {
	margin: auto;
}

.err {
	color: var(--colorBase02);
	background-color: var(--colorBase06);
	padding: 0.5rem;
}