.form {
	position: relative;
	color: var(--colorBase07);
	text-align: center;
	display: grid;
	gap: 1rem;
	padding: 2rem 1rem;
}

.form_icon {
	height: 1rem;
	color: var(--colorBase07);
}

.form_icon2 {
	height: 3rem;
	color: var(--colorBase07);
}

.form_input {
  font-family: sans-serif;
	color: var(--colorBase02);;
	border: none;
	border-bottom: 2px solid var(--colorBase02);
	background: none;
	padding: 1rem;
	padding-left: 2rem;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.form_input:active,
.form_input:focus,
.form_input:hover {
	outline: none;
	border-bottom-color: var(--colorBase07);
}

.form_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--colorBase02);
	opacity: 1; /* Firefox */
}
  
.form_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--colorBase02);
}
  
.form_input::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--colorBase02);
}

.links {
	display: flex;
	justify-content: space-around;
}

.btn {
	margin: auto;
}

.err {
	color: var(--colorBase02);
	background-color: var(--colorBase06);
	padding: 0.5rem;
}

.img_load {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.img_load input[type="file"]{
  display: none;
}

.img {
  object-fit: cover;
}

.map {
  width: 100%;
}