.menu {
  display: flex;
  flex-direction: column;
  color: var(--colorBase02);
  background-color: var(--colorBase01);
  width: 4rem;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
}

.menu_active {
  width: 20rem;
}

.burger {
  margin: 1rem auto;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: var(--colorBase02);
}

.link {
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20rem;
}

.link:hover {
  background-color: var(--colorBase07);
}