.business {
  display: grid;
  gap: 1rem;
  /* width: 100%; */
}

.frm {
  max-width: 25rem;
  width: 100%;
  margin: auto;
  /* display: none; */
  animation: on-form 1s linear;
}

/* .frm_visible {
  display: block;
}

.btn:active {
  background-color: red;
}

@keyframes on-form {
  to {
    display: block;
  }
} */